<% content_for :title do %>About<% end %>
<h3>Sobre o SCI</h3>
<h2>Grupo B</h2>
Andre Zuben<br/>
Bruna Massaro<br/>
Bruno Takakura<br/>
Guilherme Gallicchio<br/>
Izabela Pitoli<br/>
Jefferson Borges<br/>
Kaline Aureliano<br/>
Leandro Balla<br/>
Lucas Ferreira<br/>
Marcelo Pacheco<br/>
Marcelo Rodrigues<br/>
Marcio Rinaldi<br/>
Mariana Bertelini<br/>
Nilva Cezario<br/>
Pedro Pereira<br/>
Rogerio Cristhian