<p><b>SCI - Sistema de Comunicação Inteligente</b></p>
</br>
<p>Olá <%= @resource.email %></p>
<p>Alguém solicitou a alteração da sua senha. Você pode fazer isto no link abaixo.</p>
<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>
</br>
<p>Se você não solicitou esta alteração por favor ignore este e-mail.</p>
